<%- include("partials/header.ejs") %>
<div class="container">
  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white"><%= titleb %></h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4"><%= Blogpara %></p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button
 type="Edit" class="btn btn-warning btn-lg px-4 me-sm-3 fw-bold">
            Edit Blog
          </button>
          <button type="button" class="btn btn-danger btn-lg px-4">
            Delete Blog
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>
